* {
    margin: 0;
    background: hsl(229, 57%, 11%);
}

body {
    font-size: 14px;
}

.bg-desktop {
    position: absolute;
    top: 50%;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.esquerda {
    width: 300px;
    height: 200px;
    background: hsl(228, 56%, 26%);
    border: none;
    border-radius: 10px 100px 10px 10px;
    z-index: 1;
}

.logo {
    display: block;
    background: none;
    margin: 30px;
}

.figuras {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
}

.direita {
    width: 450px;
    height: 150px;
    background: hsl(228, 56%, 26%);
    border: none;
    border-radius: 10px;
    z-index: 1;
    margin-top: 50px;
}

p {
    color: white;
    margin: 40px 0 20px 20px;
    background: hsl(228, 56%, 26%);
}

.carga {
    width: 380px;
    height: 15px;
    margin-left: 20px;
    border-radius: 50px;
}

.cargaAtual {
    width: 270px;
    height: 15px;
    border-radius: 50px;
    background: linear-gradient(to right, rgb(94, 172, 94), rgb(1, 99, 61));
    border: 1px solid ;
}

.bolinha {
    width: 11px;
    height: 11px;
    border-radius: 50px;
    margin: 2px 0 0 258px;
    background: white;
}

footer {
    text-align: center;
}