* {
    margin: 0;
}

body {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    background: hsl(229, 57%, 11%);
}

.bg-desktop {
    position: absolute;
    top: 50%;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    padding-left: 300px;
}

.esquerda {
    width: 300px;
    height: 200px;
    background: hsl(228, 56%, 26%);
    border: none;
    border-radius: 10px 100px 10px 10px;
    z-index: 1;
}

.logo {
    display: block;
    background: none;
    margin: 30px;
}

.figuras {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    background: hsl(229, 57%, 11%);
}

.direita {
    width: 450px;
    height: 150px;
    background: hsl(228, 56%, 26%);
    border: none;
    border-radius: 10px;
    z-index: 1;
    margin-top: 50px;
}

.frase {
    color: white;
    margin: 40px 0 20px 20px;
    background: hsl(228, 56%, 26%);
}

.carga {
    width: 380px;
    height: 15px;
    margin-left: 20px;
    border-radius: 50px;
    background: hsl(229, 57%, 11%);
}

.cargaAtual {
    width: 270px;
    height: 15px;
    border-radius: 50px;
    background: linear-gradient(to right, rgb(94, 172, 94), rgb(1, 99, 61));
    border: 1px solid ;
}

.bolinha {
    width: 11px;
    height: 11px;
    border-radius: 50px;
    margin: 2px 0 0 258px;
    background: white;
}

.minima {
    display: flex;
    background: hsl(228, 56%, 26%);
    justify-content: space-between;
    margin: 10px 50px 0 20px;
    color: white;
}

.maxima {
    background: hsl(228, 56%, 26%);
}

.balao {
    width: 140px;
    height: 60px;
    background: white;
    z-index: 1;
    position: relative;
    right: 220px;
    bottom: 50px;
    border-radius: 10px 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.numero {
    background: white;
    font-weight: bold;
    font-size: 24px;
}

.texto {
    background: white;
    color: hsl(229, 7%, 55%);
}

.triangulo {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 0px solid transparent;
    border-top: 20px solid white;
    z-index: 1;
    position: relative;
    right: 270px;
    bottom: 10px;
    background: hsl(228, 56%, 26%);
}

footer {
    text-align: center;
    position: relative;
    color: white;
    background-color: transparent;
}

footer a {
    color: rgb(0, 255, 55);
}

@media screen  and (max-width: 480px){
    * {
        padding: 0:
    }

    section {
        flex-direction: column;
        padding-left: 0;
        height: 75vh;
        margin: 40px 0;
    }

    .bg-desktop {
        width: 0;   
    }

    .carga {
        width: 200px;
    }

    .cargaAtual {
        width: 150px;
    }

    .bolinha {
        margin-left: 140px;
    }

    .balao {
        left: 0;
        top: 1px;
    }

    .triangulo {
        position: relative;
    }

    .direita {
        width: 300px;
    }
}